body {
    background-size: cover;
}

.heading {
    text-align: left;
    width: 100%;
}

#big_img {
    width: 100%;
}

.heading button {
    float: right;
    border: 1px solid white;
}

.heading h3 {
    display: inline;
}

#start, #status {
    font-size: 22px;
}

h4 {
    background-color: wheat;
    line-height: 2;
    margin: 0px;
}

.modal-dialog {
    width: 90%;
}

.instrution_image {
    display: inline-block;
    width: 45%;
}

video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}